/* global styles */
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap");

* {
  font-family: "Poppins", sans-serif;
  --primary-color: #003682;
  --secondary-color: #f7f8ff;
  --sub-color: #fafbfd;
  --body-color: #ffffff;
  --text-color: #00000000;
  --second-text-color: #61616100;
}

.app {
  display: flex;
}

.main-content {
  margin-left: 160px; /* Width of the sidebar */
  margin-top: 50px;
  width: calc(100vw - 160px); /* Width of viewport minus sidebar width */
  background-color: var(--secondary-color);
  overflow-x: hidden;
}

.navbar {
  position: fixed;
  top: 0;
  left: 160px;
  width: calc(100vw - 160px); /* Width of viewport minus sidebar width */
  height: 50px;
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 160px;
  background-color: var(--body-color);
  display: flex;
  flex-wrap: wrap;
}

.main-card {
  background-color: rgb(255, 255, 255);
  margin: 15px;
  padding: 5px;
  border-radius: 10px;
  height: 85vh;
  overflow-y: auto;
}
.logo-card {
  height: 50px;
  background-color: var(--secondary-color);
  width: 100%;
}
.logo {
  font-size: 26px;
  font-weight: 800;
  text-align: left;
  color: var(--primary-color);
  margin: 7px 12px;
}

.subtitle {
  margin-left: 15px;
  color: var(--body-color);
  font-weight: 600;
}

.nav-elements {
  display: flex;
  align-items: center;
  margin-right: 30px;
}

.profile {
  background-color: var(--body-color);
  padding: 4px;
  width: 18px;
  height: 18px;
  border-radius: 18px;
  color: var(--primary-color);
  margin-left: 12px;
}

.profile-name {
  font-size: 12px;
}
.k-avatar {
  margin-top: -4px;
  margin-left: 3px;
}

.name {
  margin-left: 6px;
  color: var(--body-color);
  margin-right: 6px;
}

.sidenav {
  list-style: none;
  margin-left: -26px;
  color: var(--primary-color);
  font-size: 14px;
  font-weight: 400;
  margin-top: -5px;
}

.navlist {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 20px;
  gap: 5px;
}

.navlist:hover {
  background-color: var(--secondary-color);
}

.list-icn {
  background-color: var(--primary-color);
  height: 28px;
  width: 28px;
  border-radius: 8px;
  padding: 2px;
}

svg {
  color: var(--body-color);
  align-items: center;
  margin-left: 5px;
}

.icn {
  color: var(--body-color);
  align-items: center;
  margin-left: 6px;
  margin-top: 6px;
}

.footer {
  background-color: var(--primary-color);
  height: 30px;
  margin-top: 308px;
  color: var(--body-color);
  text-align: center;
  font-size: 12px;
  align-items: center;
  justify-content: center;
  display: flex;
  width: 100%;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

a:hover {
  color: black;
}

.welcome {
  margin-left: 30px;
  padding-top: 25px;
  color: var(--primary-color);
  font-weight: 600;
}
.section {
  padding: 5px 20px;
  display: flex;
  justify-content: space-between;
}
.section1 {
  padding: 5px 20px;
  display: flex;
  justify-content: space-between;
}

.section4 {
  margin: 15px 0px;
  gap: 25px;
  display: flex;
  justify-content: space-between;
}

.section5 {
  padding: 5px 30px;
  display: flex;
  justify-content: space-between;
}
.img-card {
  display: flex;
  flex-wrap: wrap;
}
.performance-section {
  padding: 10px 20px;
}
.learning-sec1 {
  padding: 10px 20px;
}
.section2 {
  padding: 5px 20px;
  display: flex;
  justify-content: space-between;
}

.sub-card {
  margin: 10px;
  padding: 20px;
  background-color: var(--secondary-color);
  border-radius: 10px;
}
.sub-card2 {
  margin: 10px;
  padding: 15px;
  background-color: var(--secondary-color);
  border-radius: 10px;
}

.sub-card2:hover {
  border: 3px solid var(--primary-color);
}

.sub-card3 {
  padding: 15px;
  background-color: var(--secondary-color);
  border-radius: 10px;
}
.sub-titles {
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 3px;
}

.sub-titles2 {
  font-size: 14px;
  font-weight: 500;
}

.tutors {
  font-size: 16px;
  font-weight: 600;
  color: var(--primary-color);
}
.sub-content {
  font-size: 18px;
  color: var(--primary-color);
  font-weight: 600;
}

.img1 {
  width: 100%;
}

.corousel {
  height: 260px;
  color: var(--body-color);
}

.corousel-img {
  background-color: var(--secondary-color);
  border-radius: 10px;
}

.img2 {
  width: fill;
}

.datepicker {
  padding: 10px;
}

.timeline {
  margin-top: 15px;
}

.timeline-title {
  padding-top: 15px;
  color: var(--primary-color);
  font-weight: 600;
}

.cover-section {
  padding: 5px 20px;
}

.profile-content {
  margin: 20px;
  padding: 10px;
  border: 2px solid #f9fbff;
  border-radius: 15px;
}

.profile-card {
  margin: 20px;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #f9fbff;
  border-radius: 15px;
  flex-wrap: wrap;
}

.profile-card2 {
  margin: 10px;
  padding: 15px;
  border: 2px solid #f9fbff;
  border-radius: 15px;
  width: 100%;
}

.profile-img {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  background-color: bisque;
}

.profile-name {
  color: var(--primary-color);
  font-weight: 600;
  font-size: 16px;
  margin-top: 5px;
}
.experience {
  color: var(--primary-color);
  font-weight: 600;
  font-size: 16px;
}

.position {
  font-size: 12px;
  color: #9e9e9e;
  margin-bottom: 5px;
}

.about {
  font-size: 12px;
  text-align: center;
}

.skills {
  color: var(--primary-color);
  font-weight: 600;
  font-size: 16px;
  margin-top: 15px;
  margin-bottom: 10px;
}

.skills-set {
  margin-bottom: 8px;
  display: flex;
  gap: 10px;
}

.skill-name {
  border-radius: 8px;
  padding: 4px 12px;
  background-color: var(--secondary-color);
  border: 1px solid var(--primary-color);
  font-size: 12px;
}

.content-1 {
  padding: 10px;
}
.btn {
  display: flex;
  justify-content: end;
}
.edit {
  background-color: var(--primary-color);
  color: var(--body-color);
  font-size: 14px;
}

.edit:hover {
  background-color: var(--body-color);
  color: var(--text-color);
}

.sub-sec-1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.settings-title1 {
  font-weight: 500;
  margin-bottom: 5px;
}
.default {
  margin-right: 15px;
}

.context1 {
  font-size: 12px;
}

.billing-card {
  background-color: var(--secondary-color);
  border: 1px solid var(--primary-color);
  border-radius: 8px;
  padding: 20px 20px;
  width: 300px;
  margin-bottom: 20px;
}

.sub-sec-2 {
  display: flex;
  margin-bottom: 20px;
  gap: 100px;
}

.renewal {
  font-size: 10px;
  color: #6d6d6d;
}

.bill-period {
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 5px;
}

.bill-title-sec {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.change {
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 5px;
  color: orange;
  text-decoration: underline;
}

.form-sub1 {
  display: flex;
  gap: 50px;
  margin-top: 15px;
}

.placeholder {
  padding-right: 70px;
}

.sub-sec-3 {
  display: flex;
  align-items: center;
  gap: 100px;
  margin-bottom: 20px;
}

.upload {
  margin-top: 10px;
}
